<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<style type="text/css">
	
	</style>
	<body>
		<div id="app">
			<!--<p>{{list[0]}}</p>
			<p>{{list[1]}}</p>
			<p>{{list[2]}}</p>
			<p>{{list[3]}}</p>
			<p>{{list[4]}}</p>
			<p>{{list[5]}}</p>-->
			<!--<p v-for='item in list'>{{item}}</p>-->
			<p v-for='(item,i) in list'>索引值{{i}}+++{{item}}</p>
		</div>
	</body>
	<script type="text/javascript" src="lib/vue.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#app", 
			data: {  
			list:[1,2,3,4,5,6]
			},
			methods:{	
			
			}
		})
	</script>
</html>




